    table {  
    *border-collapse: collapse; /* IE7 and lower */  
    border-spacing: 0;  
      
    }  
    table td{padding: 0px;}
      
    .bordered {  
    border: solid #ccc 1px;  
    -moz-border-radius: 6px;  
    -webkit-border-radius: 6px;  
    border-radius: 6px;  
    -webkit-box-shadow: 0 1px 1px #ccc;  
    -moz-box-shadow: 0 1px 1px #ccc;  
    box-shadow: 0 1px 1px #ccc;  
    }  
      
    .bordered tr:hover {  
    /*background: #FFD39B;*/  
    -o-transition: all 0.1s ease-in-out;  
    -webkit-transition: all 0.1s ease-in-out;  
    -moz-transition: all 0.1s ease-in-out;  
    -ms-transition: all 0.1s ease-in-out;  
    transition: all 0.1s ease-in-out;  
    }  
      
    .bordered td, .bordered th {  
    border-left: 1px solid #ccc;  
    border-top: 1px solid #ccc;  
    padding: 5px;  
    text-align: center;  
    }  
    

      
    .bordered th {  
    background-color: #dce9f9;  
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    border-top: none;  
    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
    }  
      
    .bordered td:first-child, .bordered th:first-child {  
    border-left: none; 
    
    }  
    

      
    .bordered th:first-child {  
    -moz-border-radius: 6px 0 0 0;  
    -webkit-border-radius: 6px 0 0 0;  
    border-radius: 6px 0 0 0;  
    
    
    }  
      
    .bordered th:last-child {  
    -moz-border-radius: 0 6px 0 0;  
    -webkit-border-radius: 0 6px 0 0;  
    border-radius: 0 6px 0 0;  
    }  
      
    .bordered th:only-child{  
    -moz-border-radius: 6px 6px 0 0;  
    -webkit-border-radius: 6px 6px 0 0;  
    border-radius: 6px 6px 0 0;  
    }  
      
    .bordered tr:last-child td:first-child {  
    -moz-border-radius: 0 0 0 6px;  
    -webkit-border-radius: 0 0 0 6px;  
    border-radius: 0 0 0 6px;  
    }  
      
    .bordered tr:last-child td:last-child {  
    -moz-border-radius: 0 0 6px 0;  
    -webkit-border-radius: 0 0 6px 0;  
    border-radius: 0 0 6px 0;  
    }  
      


    .layout {margin-left:0px auto;margin-top:5px;}
      
      
    .maindiv tr:hover{background: #F1E3A7;}

	td,th{font-size:0.8em;padding:0;}
	
	.maindiv td{text-align:right;}
	
	
	
	.loading {
	  background: #000;
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  left: 0;
	  top: 0;
	  opacity: 0.3;
	  filter: alpha(opacity=30);
	  z-index: 499;
	}
	.loader4 {
	   margin: auto;
	   position: absolute;
	   top: 0; 
	   left: 0; 
	   bottom: 0; 
	   right: 0;
	   z-index: 500;
	   width:60px;
	   height:60px;
	   display:inline-block;
	   padding:0px;
	   border-radius:100%;
	   border:5px solid;
	   border-top-color:rgba(0,0,0, 0.5);
	   border-bottom-color:rgba(0,0,0, 0.1);
	   border-left-color:rgba(0,0,0, 0.1);
	   border-right-color:rgba(0,0,0, 0.5);
	   -webkit-animation: loader4 1s ease-in-out infinite;
	   animation: loader4 1s ease-in-out infinite;
	}
	@keyframes loader4 {
	   from {transform: rotate(0deg);}
	   to {transform: rotate(360deg);}
	}
	@-webkit-keyframes loader4 {
	   from {-webkit-transform: rotate(0deg);}
	   to {-webkit-transform: rotate(360deg);}
	}
	#contain0 {
		width:100%;
		height:100%;
		overflow-y:hidden;
	}
	
	